fastapi
uvicorn
pymongo
python-dotenv
pydantic
pydantic-settings
bcrypt
numpy
pandas
scikit-learn
scipy
joblib
email-validator
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
