fastapi
uvicorn
pymongo
python-dotenv
pydantic
pydantic-settings
bcrypt
numpy<2
pandas
scikit-learn==1.3.0
scipy
joblib
email-validator
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
